@using BLL.Interfaces;
@model BLL.Models.PersonDto;
@inject IPetService PetService;

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@string.Concat(Model.Name, "'s pets")</h1>

<u>@Html.ActionLink("Back to all users", "AllUsers", "Person")</u>

@Html.ActionLink("Add", "Create", "Pet", new { ownerId = Model.Id}, new { @class = "btn btn-primary"})

<div class="align-content-center">
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                var userPets = PetService.GetUserPets(Model.Id).ToList();
                foreach (var pet in userPets)
                {
                    if (pet != null)
                    {
                        <tr>
                            <td>
                                @pet.Name
                                @Html.ActionLink("Delete", "Delete", "Pet", new { petId = pet.Id, ownerId = Model.Id }, new { @class = "btn btn-danger float-right" })
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
