@using BLL.Interfaces;
@using BLL.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using System.Linq;

@model IPagedList<PetDto>;
@inject IPetService PetService;
@inject IPersonService PersonService;
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@string.Concat(PersonService.GetByIdAsync((int)ViewBag.ownerId).Result?.Name, "'s pets")</h1>

<u>@Html.ActionLink("Back to all users", "AllUsers", "Person")</u>
<br />

<form asp-action="Details"
      asp-route-ownerId=@ViewBag.ownerId
      method="get">
    <div class="form-actions no-color">
        <p>
            <input type="hidden" name="ownerId" value="@ViewBag.ownerId" />
            Search: <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-default" />
            @Html.ActionLink("back to full list", "Details", "Person", new { ownerId = ViewBag.ownerId })
            @Html.ActionLink("Add", "Create", "Pet", new { ownerId = ViewBag.ownerId }, new { @class = "btn btn-primary m-lg-2" })
        </p>
    </div>
</form>

<hr />
<p>Total count: @PetService.GetUserPets((int)ViewBag.ownerId).ToList().Count</p>

<div class="align-content-center">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var pet in Model)
                {
                    if (pet != null)
                    {
                        <tr>
                            <td>
                                @pet.Name
                                @Html.ActionLink("Delete", "Delete", "Pet", new { petId = pet.Id, ownerId = ViewBag.ownerId }, new { @class = "btn btn-danger float-right" })
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("Details", "Person", new { ownerId = ViewBag.ownerId, searchString = "", page }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-link" }
})
