@using BLL.Interfaces;
@using BLL.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@*@model BLL.Models.PersonDto;*@
@model IPagedList<PetDto>;
@inject IPetService PetService;

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@string.Concat(Model[0].PersonName, "'s pets")</h1>

<u>@Html.ActionLink("Back to all users", "AllUsers", "Person")</u>
<br />
<form asp-action="Details" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-default" />
            @Html.ActionLink("back to full list", "Details", "Person", new { ownerId = ViewData["ownerId"] })
            @Html.ActionLink("Add", "Create", "Pet", new { ownerId = ViewData["ownerId"] }, new { @class = "btn btn-primary m-lg-2" })
        </p>
    </div>
</form>


<div class="align-content-center">
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                IPagedList<PetDto> userPets = PetService.GetUserPets(Model.Id).ToPagedList(1, 3);
                foreach (var pet in userPets)
                {
                    if (pet != null)
                    {
                        <tr>
                            <td>
                                @pet.Name
                                @Html.ActionLink("Delete", "Delete", "Pet", new { petId = pet.Id, ownerId = Model.Id }, new { @class = "btn btn-danger float-right" })
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

